<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script type='text/javascript'>
    function optimizelyCheckout() {
      window['optimizely'] = window['optimizely'] || [];
      window['optimizely'].push({
        type: "event",
        eventName: "checkout-mini-cart",
        tags: {
          revenue: 0, // Optional in cents as integer (500 == $5.00)
          value: 0.00 // Optional as float
        }
      });
    }
  </script>
  <script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="{% endraw %}{{ routes.cart_url }}{% raw %}" method="post" novalidate class="cart ajaxcart">
      <div class="ajaxcart__inner">
        {{#items}}
        <div class="ajaxcart__product text-left">
          <div class="ajaxcart row border-none" data-line="{{line}}">

              <div class="grid__item desktop-4 tablet-1 mobile-1">
                <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt=""></a>
              </div>
              <div class="desktop-8 tablet-5 mobile-2">

                <div class="row">
                  <div class="desktop-8 tablet-4 mobile-2 leading-none">
                    <a href="{{url}}" class="ajaxcart__product-name">{{name}}</a>
                  </div>
                  <div class="desktop-4 tablet-2 mobile-1 text-right">
                    {{#if discountsApplied}}
                      <span class="visually-hidden">{% endraw %}{{ 'products.general.sale_price' | t }}{% raw %}</span>
                      <span class="ajaxcart__price onsale">{{{discountedPrice}}}</span>
                      <span class="visually-hidden">{% endraw %}{{ 'products.general.regular_price' | t }}{% raw %}</span>
                      <del class="ajaxcart__price">{{{price}}}</del>
                    {{else}}
                      <span class="ajaxcart__price">{{{price}}}</span>
                    {{/if}}
                  </div>
                  <div class="desktop-12 tablet-4 mobile-2">
                    {{#if variation}}
                      <p class="ajaxcart__product-meta text-xs">{{variation}}</p>
                    {{/if}}
                    {{#if sellingPlanAllocation}}
                      <p>{{ sellingPlanAllocationName }}</p>
                      {{/if}}
                    {{#properties}}
                      {{#each this}}
                        {{#if this}}
                          <span class="ajaxcart__product-meta text-sm">{{@key}}: {{this}}</span>
                        {{/if}}
                      {{/each}}
                    {{/properties}}
                    {% endraw %}{% if settings.cart_vendor_enable %}{% raw %}
                      <span class="ajaxcart__product-meta text-sm">{{ vendor }}</span>
                    {% endraw %}{% endif %}{% raw %}
                  </div>
                </div>

                <span {{#unless unitPriceMeasurement}}class="hide"{{/unless}} data-unit-price-group>
                  <dt>
                    <span class="visually-hidden visually-hidden--inline">{% endraw %}{{ 'products.product.unit_price_label' | t }}{% raw %}</span>
                  </dt>
                  <dd>
                    <span class="price-unit-price">
                      <span data-unit-price>{{unitPrice}}</span>
                      <span aria-hidden="true">/</span><span class="visually-hidden">{% endraw %}{{ 'general.accessibility.unit_price_separator' | t }}{% raw %}&nbsp;</span>
                      <span data-unit-price-base-unit>
                        {{#if showUnitReferenceValue}}
                        {{unitReferenceValue}}
                        {{/if}}
                        {{unitPriceBaseUnit}}
                      </span>
                    </span>
                  </dd>
                </span>

                {{#if discountsApplied}}
                  {{#each discounts}}
                    <p><span class="onsale"><i class="fa fa-tag"></i> {{ this.discount_application.title }} (-{{{ this.formattedAmount }}})</p>
                  {{/each}}
                {{/if}}

                <div class="display-table">
                  <div class="display-table-cell">
                    <div class="ajaxcart__qty mb-5">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="{{id}}" data-qty="{{itemMinus}}" data-line="{{line}}">
                        <span>&minus;</span>
                      </button>
                      <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemAdd}}">
                        <span>+</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="pr-2 pl-2">
                  <a class="product-remove-button" href="#" data-line="{{line}}">
                    {% endraw %} 
                      Remove
                    {% raw %}
                  </a>
                </div>                
              </div>
          </div>
        </div>
        {{/items}}
        
        <div class="rte-accordion row">
          {% endraw %}{% if settings.show_cart_notes %}{% raw %}
            <div id="cart-notes" class="item">
              <input class="trigger" id="item-one" type="checkbox" name="items" />
              <label class="accordion-label" for="item-one"><span class="item-heading">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</span></label>
              <div class="item-content">
                <textarea name="note" id="note" rows="5" cols="60">{{note}}</textarea>
              </div>
            </div>
          {% endraw %}{% endif %}{% raw %}
          {% endraw %}{% if settings.show_display_discount_code %}{% raw %}
            /// <div class="discount­code­field" class="item">
           input class="trigger" id="item-three" type="checkbox" name="items" />
              <label class="accordion-label" for="item-three"><span class="item-heading">{% endraw %}{{ 'cart.general.cart_discount' | t: shop_name: shop.name }}{% raw %} </span></label>
              <div class="item-content">
                <input autocomplete="off" type="text" name="discount" placeholder="Enter Coupon Code"/>
              </div>
            </div>
          {% endraw %}{% endif %}{% raw %}
        </div>
         {% comment %} Start BH item #185 {% endcomment %}
        {% comment %}<div class="drawer-continue-shopping show-on-mobile"><a href="https://wallnut.com/collections/all">Continue Shopping</a></div> {% endcomment %}
         {% comment %} Start BH item #185 {% endcomment %}
      <div id="react-chair-cover-upsell"></div>
      </div>
      <div class="ajaxcart__footer row px-6 pl-0 pr-0">
        <div class="subtotal">
          <p class="title normal-case font-normal">Subtotal {% endraw %}({{ cart.item_count }}){% raw %}:</p>
          <p class="subtotal-price"><span id="miniCartTotal" class="cart-original-total">{{{subTotalPrice}}}</span></p>          
        </div>
        <div id="afterpay-div" class="flex free-shipping-drawer">          
          <svg
            width="20"
            height="20"
            viewBox="0 0 29 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
              <path d="M10.6618 0.00300974C10.5938 0.00640796 10.5259 0.0211347 10.4624 0.0483222L0.312432 4.68832C-0.0138181 4.83672 -0.0919732 5.31136 0.113057 5.59457L3.26681 9.28308L0.113057 12.9626C-0.0772557 13.2288 -0.0138181 13.7205 0.312432 13.8689L3.45719 15.3098V22.6175C3.45946 22.8384 3.59879 23.0536 3.80157 23.1431L14.2326 27.7831C14.3798 27.8488 14.5566 27.8488 14.7038 27.7831L25.1528 23.1431C25.3556 23.0536 25.4961 22.8384 25.4972 22.6175V15.3098L28.642 13.8689C28.9682 13.7205 29.0747 13.2345 28.8413 12.9626L25.6876 9.28308L28.8413 5.59457C29.0747 5.3227 28.9682 4.83671 28.642 4.68832L18.492 0.0483222C18.4013 0.00867344 18.3005 -0.00718666 18.202 0.00300974C18.0581 0.013205 17.9199 0.0800395 17.8213 0.18426L14.4773 3.782L11.1333 0.18426C11.0144 0.0573847 10.8354 -0.0117165 10.6621 0.00300974H10.6618ZM10.5712 1.28081L13.4984 4.43456L4.20046 8.57605L1.49984 5.43129L10.5712 1.28081ZM18.3832 1.28081L27.4547 5.43129L24.7541 8.57605L15.4561 4.43456L18.3832 1.28081ZM14.4772 5.2773L23.4852 9.28278L14.4772 13.2793L5.46921 9.28278L14.4772 5.2773ZM4.20017 9.98081L13.4982 14.1223L10.5709 17.276L1.4994 13.1256L4.20017 9.98081ZM24.7539 9.98081L27.4545 13.1256L18.3831 17.276L15.4558 14.1223L24.7539 9.98081ZM13.8969 15.4003V26.3603L4.6169 22.2368V15.8353L10.4621 18.5088C10.6842 18.6107 10.9685 18.553 11.1328 18.3728L13.8969 15.4003ZM15.0569 15.4003L17.821 18.3728C17.9852 18.5529 18.2696 18.6107 18.4916 18.5088L24.3368 15.8353V22.2368L15.0568 26.3513L15.0569 15.4003Z" fill="black"/>
          </svg>
          <div class="free-shipping-divider"></div>
          <p>
            Free Shipping
          </p>
        </div>
        {% endraw %}{%- if settings.show_tax_note -%}{% raw %}
          <div class="tax">
            <p class="title">{% endraw %}{{ 'cart.general.tax' | t }}{% raw %}</p>
            <p class="value">{% endraw %}{{ 'cart.general.at_checkout' | t }}{% raw %}</p>
          </div>
        {% endraw %}{%- endif -%}{% raw %}
        {% endraw %}{%- if settings.show_shipping_note -%}{% raw %}
          <div class="shipping">
            <p class="title">{% endraw %}{{ 'cart.general.shipping' | t }}{% raw %}</p>
            <p class="value">{% endraw %}{{ 'cart.general.at_checkout' | t }}{% raw %}</p>
          </div>
        {% endraw %}{%- endif -%}{% raw %}
        <div class="discounts">
          {{#if cartDiscountsApplied}}
            <p>{% endraw %}{{ 'cart.general.discounts' | t }}{% raw %}</p>
            <ul>
             {{#each cartDiscounts}}
                <li><i class="fa fa-tag"></i> (-{{{ this.formattedAmount }}})</li>
             {{/each}}
            </ul>
           {{/if}}
           {{#if cartTotalSavings}}
             <div class="cart_savings onsale">
               <p><em>{% endraw %}{{ 'cart.general.savings' | t }}{% raw %}</em></p>
               <p class="cart-savings-amount"><em>{{cartTotalDiscounts}}</em></p>
             </div>
           {{/if}}
        </div>
        <div class="total">
          <h3 class="title">{% endraw %}{{ 'cart.general.total' | t }}{% raw %}</h3>
          <h3 class="total-price"><span class="cart-original-total">{{totalPrice}}</span>
          <span class="cart-total"></span></h3>
        </div>
        <a class="outline-button" href="/collections">{% endraw %}{{ 'cart.general.continue' | t }}{% raw %}</a>
        <button type="submit" class="cart__checkout mt-4 primary_btn uppercase" name="checkout" onclick="optimizelyCheckout();">
          Continue to checkout
        </button>
        {% endraw %}{% if additional_checkout_buttons %}
          <div class="additional_checkout_buttons">{{ content_for_additional_checkout_buttons }}</div>
        {% endif %}{% raw %}
        <div id="react-afterpay-cart-copy"></div>
        <div class="drawer-continue-shopping show-on-desktop"><a href="https://wallnut.com/collections/all">Continue Shopping</a></div>
    </form>
  {% endraw %}
  </script>
  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text">&minus;</span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text">+</span>
      </button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus quantity-increment" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span>&minus;</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus quantity-increment" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span>+</span>
      </button>
    </div>
  {% endraw %}
  </script>
