
<div id="contactFormWrapper">
  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <div class="successForm feedback">
        <p>{{ 'contact.form.post_success' | t }}</p>
      </div>
    {% endif %}

    {% if form.errors %}
      <div class="errorForm feedback">
        <p>{{ 'general.forms.post_error' | t }}</p>
      </div>
    {% endif %}

  {% if type.settings.cf_show_first_name %}
    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormFirstName">First Name</label>
      <input type="text" id="contactFormFirstName" name="contact[FirstName]" size="30" />
    </div>
  {% endif %}
  {% if type.settings.cf_show_last_name %}
    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormLastName">Last Name</label>
        <input type="text" id="contactFormLastName" name="contact[LastName]" size="30" />
    </div>
  {% endif %}
  {% if type.settings.cf_show_subject %}
    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormSubject">Subject</label>
        <input type="text" id="contactFormSubject" name="contact[Subject]" size="30" />
    </div>
  {% endif %}
  {% if type.settings.cf_show_company_name %}
    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormCompanyName">Company Name</label>
        <input type="text" id="contactFormCompanyName" name="contact[CompanyName]" size="30" />
    </div>
  {% endif %}
  {% if type.settings.cf_show_company_name %}
    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormAddress">Address</label>
        <input type="text" id="contactFormAddress" name="contact[address]" size="30" />
    </div>
  {% endif %}
  {% if type.settings.cf_show_website_url %}
    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormWebsiteURL">Website URL</label>
        <input type="text" id="contactFormWebsiteURL" name="contact[WebsiteUrl]" size="30" /> 
    </div>
  {% endif %}
  <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormEmail">Email</label>
      <input type="email" id="contactFormEmail" name="contact[email]" size="30" />
  </div>
  {% if type.settings.cf_show_phone %}
    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormTelephone">Phone</label>
        <input type="text" id="contactFormTelephone" name="contact[phone]" size="30" />
    </div>
  {% endif %}
  {% if type.settings.cf_show_custom_field_one %}
    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormCustomFieldOne">Custom Field 1</label>
        {% if type.settings.cf_custom_field_one_type == 'input' %}
            <input type="text" id="contactFormCustomFieldOne" name="contact[CustomFieldOne]" size="30" />
        {% else %}
          <textarea rows="15" cols="90" id="contactFormCustomFieldOne" name="contact[CustomFieldOne]" placeholder="{{ type.settings.cf_custom_field_one }}"></textarea>
        {% endif %}
    </div>
  {% endif %}
  {% if type.settings.cf_show_custom_field_two %}
    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormCustomFieldTwo">Custom Field 2</label>
        {% if type.settings.cf_custom_field_two_type == 'input' %}
            <input type="text" id="contactFormCustomFieldTwo" name="contact[CustomFieldTwo]" size="30" />
        {% else %}
          <textarea rows="15" cols="90" id="contactFormCustomFieldTwo" name="contact[CustomFieldTwo]" placeholder="{{ type.settings.cf_custom_field_two }}"></textarea>
        {% endif %}
    </div>
  {% endif %}

    <div class="desktop-12 tablet-6 mobile-3 a-left relative">
      <label for="contactFormMessage">Message</label>
      <textarea rows="15" cols="90" id="contactFormMessage" name="contact[body]"></textarea>
    </div>
    <input type="submit" id="contactFormSubmit" class="primary_btn" value="{{ 'contact.form.send' | t }}" />
    </div>
  {% endform %}
</div>

<div class="clear"></div>
