<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head> 
  <meta charset="utf-8" />


<!-- Meta
================================================== -->
  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  {% render 'social-meta-tags' %}
  {% render 'structured-data' %}

<!-- CSS
================================================== -->
  <!-- {{ 'alice-carousel.css' | asset_url | stylesheet_tag }} -->
  <!-- {{ 'stylesheet.css' | asset_url | stylesheet_tag }} -->
  <link href="{{'stylesheet.css' | asset_url}}" rel="stylesheet" type="text/css">
  <link href="{{'theme.css' | asset_url}}" rel="stylesheet" type="text/css">
  <!-- {{ 'theme.css' | asset_url | stylesheet_tag }} -->

  <style>
  @font-face {
    font-family: 'GoodSans-Light';
    src: url({{ "GoodSans-Light.woff2" | asset_url }}) format("woff2"), url({{ "GoodSans-Light.woff" | asset_url }}) format("woff");
    font-display: swap; 
  }
  @font-face {
    font-family: 'GoodSans-Bold';
    src: url({{ "GoodSans-Bold.woff2" | asset_url }}) format("woff2"), url({{ "GoodSans-Bold.woff" | asset_url }}) format("woff"); 
    font-display: swap;
  }
   @font-face {
    font-family: 'GoodSans-Medium';
    src: url({{ "GoodSans-Medium.woff2" | asset_url }}) format("woff2"), url({{ "GoodSans-Medium.woff" | asset_url }}) format("woff"); 
    font-display: swap;
  }
   @font-face {
    font-family: 'Nib-bold-pro';
    src: url({{ "nib-bold-pro.woff2" | asset_url }}) format("woff2"), url({{ "nib-bold-pro.woff" | asset_url }}) format("woff"); 
    font-display: swap;
  }

  @font-face {
    font-family: 'AttilaSansUniform-Medium';
    src: url({{ "AttilaSansUniform-Medium.woff2" | asset_url }}) format("woff2"), url({{ "AttilaSansUniform-Medium.woff" | asset_url }}) format("woff"); 
    font-display: swap;
  }     

  @font-face {
    font-family: 'AttilaSansUniform-Semibold';
    src: url({{ "AttilaSansUniform-Semibold.woff2" | asset_url }}) format("woff2"), url({{ "AttilaSansUniform-Semibold.woff" | asset_url }}) format("woff"); 
    font-display: swap;
  }      

  @font-face {
    font-family: 'GoodSans';
    src: url({{ "GoodSans-Regular.woff2" | asset_url }}) format("woff2"), url({{ "GoodSans-Regular.woff" | asset_url }}) format("woff"); 
    font-display: swap;
  }                               
  </style>

  {% if page_title == 'Interchangeability' %}
    {{ 'landing-page.scss' | asset_url | stylesheet_tag }}
  {% endif %}

 <!-- Body font
================================================== -->
  <link rel="preload" as="font" href="https://use.typekit.net/bxc4sfc.css">

<!-- JS
================================================== -->
  {{'//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' | script_tag }}

  <script>
    jQuery(document).on('mouseenter', '.list-img-wrap', function(){
      jQuery(this).find(".img-wrap").each(function(){
        if(jQuery(this).hasClass("hover")) {
          jQuery(this).animate({
            'opacity': 1
          }, "slow");
        } else {
          jQuery(this).animate({
            'opacity': 0
          }, "slow")
        }
      });
    });
    jQuery(document).on('mouseleave', '.list-img-wrap', function(){
      jQuery(this).find(".img-wrap").each(function(){
        if(jQuery(this).hasClass("hover")) {
          jQuery(this).animate({
            'opacity': 0
          }, "slow");
        } else {
          jQuery(this).animate({
            'opacity': 1
          }, "slow")
        }
      });
    });
    jQuery(document).on('touchstart', '.list-img-wrap', function(){
      jQuery(this).find(".img-wrap").each(function(){
        if(jQuery(this).hasClass("hover")) {
          jQuery(this).animate({
            'opacity': 1
          }, "slow");
        } else {
          jQuery(this).animate({
            'opacity': 0
          }, "slow")
        }
      });
    });
    jQuery(document).on('touchend', '.list-img-wrap', function(){
      jQuery(this).find(".img-wrap").each(function(){
        if(jQuery(this).hasClass("hover")) {
          jQuery(this).animate({
            'opacity': 0
          }, "slow");
        } else {
          jQuery(this).animate({
            'opacity': 1
          }, "slow")
        }
      });
    });
  </script>
  {{ "eventemitter3.min.js" | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Favicons
================================================== -->
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}
  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

{{ content_for_header }}
<!-- {% render 'usf' %} -->

<!-- Klaviyo -->
{% comment %}
<script type="application/javascript" async 
 src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=T23mjB"></script>
{% endcomment %}

<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=QYBmce"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JB1SDL3RVS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-JB1SDL3RVS');
</script>

<script
  src="https://static-us.afterpay.com/javascript/present-afterpay.js"
></script>

<script src="https://js.afterpay.com/afterpay-1.x.js" data-analytics-enabled
        async
  type="text/javascript"
  data-min="35.00"
  data-max="2000.00"
></script>

<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"56370312"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WRT23V9');
</script>
<!-- End Google Tag Manager -->
  
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRT23V9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<script src="https://cdn.optimizely.com/js/20193727087.js"></script>

{% if handle contains 'exclusive' %}
  <meta name="robots" content="noindex">
{% endif %}
{% render 'webpack-scripts-modules' %}
{% render 'webpack-scripts-global' %}

{% if template.name == 'index' %}
  {% render 'webpack-scripts-main' %}
{% endif %}
{% if template.name == 'product' %}
  {% render 'webpack-scripts-products' %}
{% endif %}
{% if template.name == 'collection' %}
  {% render 'webpack-scripts-collections' %}
{% endif %}
{% if template.name == 'page' %}
  {% render 'webpack-scripts-pages' %}
{% endif %}

</head>

<body class="gridlock shifter shifter-left {% if template contains 'product' %}product{% elsif template contains 'collection' %}collection{% else %}{{ template | handleize }}{% endif %}" data-shop-url="{{ shop.url }}">
  {% section 'mobile-navigation' %}

  {% render 'timber-cart' %}
  <div class="shifter-page{% if settings.ajax_cart_method == 'drawer' %} is-moved-by-drawer{% endif %}" id="PageContainer">
    {% section 'desktop-announcement' %}
    {% section 'header' %}

    <!-- {% render 'collection-banner' %} -->
    {% section 'collections-hero' %}
    {% section 'sales-hero' %}
    {% section 'black-friday-sales-hero' %}
    {% section 'cyber-monday-sales-hero' %}

    {% assign full_width_page = false %}
    {% if template == 'index' or template == 'blog' or template == 'article' or template contains 'collection.custom' or template contains 'list-collections' or template contains 'page.custom' or template contains 'product' %}
      {% assign full_width_page = true %}
    {% endif %}

    {% if template contains 'product' and settings.breadcrumb %}
      <div class="row">
        {% render 'breadcrumb',
            product: product,
            collection: collection %}
      </div>
    {% endif %}

    <div id="content"{% unless full_width_page %} class="row w-full {{template.suffix }}"{% endunless %}>
      {% unless template contains 'product' %}
        {% if settings.breadcrumb and full_width_page == true %}
          <div class="row">
            {% render 'breadcrumb',
                product: product,
                collection: collection %}
          </div>
        {% elsif settings.breadcrumb and full_width_page == false %}
          {% render 'breadcrumb',
              product: product,
              collection: collection %}
        {% endif %}
      {% endunless %}
      {{ content_for_layout }}
    </div>

    {% section 'footer' %}

    {% if settings.popup %}
      {% render 'popup' %}
    {% endif %}

    {% if settings.show_notfication and settings.notification_position == 'fixed-bottom' -%}
      {% render 'notification' %}
    {% endif %}
    <div id="bg-overlay"></div>
  </div>

  <div class="fancybox-wrapper"></div>

  {% if settings.ajax_cart_method == 'drawer' %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% render 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '.product_form',
          cartContainer: '#CartContainer',
          addToCartSelector: '.AddtoCart',
          cartCountSelector: '.cart-count',
          cartCostSelector: '.CartCost',
          moneyFormat: {{ shop.money_format | json }}
       });
      });
      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
        $('.cart-count-2').html($('.cart-count').html());
      });
      jQuery('body').on('click','.drawer-continue-shopping', function(evt, cart) {
        evt.preventDefault();
        timber.RightDrawer.close();
      });
    </script>
  {% endif %}

  <script type="text/javascript">

    //initiating jQuery
    jQuery(function($) {
      if ($(window).width() >= 981) {
        $(document).ready( function() {
          $('.header-wrapper').stickUp();
        });
      } else {
        $(document).ready( function() {
          $('header').stickUp();
        });
      }

      // Gm menu code
      var check = false;
  	  var ga_interval = setInterval(checkApp, 100);
      function checkApp() {
        if (typeof GloboMenuConfig == 'object' && $('.gm-menu').length) {
          check = true;
          clearInterval(ga_interval);
        }
        if (check) {
          $('.MobileNavIcon__NavIcon-sc-xv1kjn-1').click(function(){
            if(!$('.globo-menu-mobile').hasClass('active')){
              $('.globo-menu-mobile').addClass('active');
            }else{
              $('.globo-menu-mobile').removeClass('active');
            }
          })
        } 
      }

      // Made submenu heading color white to hide it
      const myInterval = setInterval(function() {
      	$('.gm-menu .gm-heading span:contains(Default)').parent().addClass('default-title');
        if ($('.gm-menu .gm-heading span').parent().hasClass('default-title')) {
          clearInterval(myInterval);
        }
      }, 200);

      // Added to set position of gm submenu
      $(window).scroll(function () {
        menuCartDrawerPosition();
      });
      menuCartDrawerPosition();

      function menuCartDrawerPosition() {
        if ($(window).scrollTop() > 10) {
          $(".gm-submenu.gm-mega.gm-submenu-bordered").css({ "top": "75px" });
          if ($(window).width() >= 1024) {
            $("#CartDrawer").css({ "top": "75px" });
          } else {
            $("#CartDrawer").css({ "top": "50px" });
          }
        }
        else {
          $(".gm-submenu.gm-mega.gm-submenu-bordered").css({ "top": "119px" });
          if ($(window).width() >= 1024) {
            $("#CartDrawer").css({ "top": "119px" });
          } else if ($(window).width() >= 769) {
            $("#CartDrawer").css({ "top": "94px" });
          } else {
            $("#CartDrawer").css({ "top": "88px" });
          }
        }
      }

      // Show close on cart drawer click
      $('.site-header__cart-toggle').on('click', function() {
        if ($(window).width() < 767) {
          if ($('.toggle-button').hasClass('flex')) {
            $('.toggle-button').removeClass('flex');
            $('.toggle-button').addClass('hidden');
            $('.cart-close').removeClass('hidden');
          } else {
            $('.toggle-button').removeClass('hidden');
            $('.toggle-button').addClass('flex');
            $('.cart-close').addClass('hidden');
          }
        }
      });
      $('.cart-close').on('click', function() {
        if ($(window).width() < 767) {
          $('.toggle-button').removeClass('hidden');
          $('.toggle-button').addClass('flex');
          $('.cart-close').addClass('hidden');
          timber.RightDrawer.close();
        }
      });

      // Set autocomplete off for the Klaviyo newsletter input
      const myIntervalNewsletter = setInterval(function() {
      	if ($('body form.klaviyo-form').length > 0) {
          $('body form.klaviyo-form').attr('autocomplete', 'off');
          clearInterval(myIntervalNewsletter);
        }
      }, 200);

      // Set menu link as active if that page is curretnly open
      const myIntervalMenuLinkActive = setInterval(function() {
        if ($('.gm-menu').length > 0) {
          var curr_href = window.location.pathname;
          $('.navbar .gm-menu:not(.gm-menu-mobile) .gm-item.gm-level-0').each(function(){
              if ($(this).find('a').attr('href') != '/' && $(this).find('a').attr('href') == curr_href) {
                $(this).addClass('link-active');
                clearInterval(myIntervalMenuLinkActive);
              }
          });
        }
      }, 200);

      // Set height of main banner based on viewport
      function bannerImageHeight() {
        if ($(window).width() >= 991 && $('body').hasClass('index')){
          const myIntervalBannerheight = setInterval(function() {
            if ($('body .gm-menu').length > 0) {
              var ann_height = $('#react-header').outerHeight();
              var header_height = $('#react-desktop-announcement').outerHeight();
              var total_height = ann_height + header_height;
              $('.main_banner').css('height', 'calc(100vh - '+total_height+'px)');
              
              var windowWidth = $(window).width();
              if (windowWidth > 1440) {
                $('.main_banner').css('max-height', (windowWidth/2)+'px');
              }
              else {
                $('.main_banner').css('max-height', 'none');
              }

              $('.main_banner img').hide()
              clearInterval(myIntervalBannerheight);
            }
          }, 200);
        } else {
          $('.main_banner img').show()
          $('.main_banner').css('height', 'auto');
        }
      }
      bannerImageHeight();

      $( window ).resize(function() {
        bannerImageHeight();
        menuCartDrawerPosition();
      });

      // Search layer and auto suggestion code for desktop and mobile
      function searchLayer() {
        $('.search-click').on('click', function(){
          if ($(window).width() >= 1024) {
            $(this).hide();
            $('.search-form').addClass('active');
            $(this).parent().siblings('form').find('input').focus();
          } else if ($(window).width() < 1024) {
            $('.search-form-mob').addClass('active');
            $('.search-mob-div').slideToggle();
            $('.search-form-mob').find('input').focus();
            if ($(this).hasClass('search')) {
              $(this).attr('src', 'https://cdn.shopify.com/s/files/1/0627/3476/2207/files/close-img-black.png?v=1654240702');
              $(this).addClass('close');
              $(this).removeClass('search');
            } else {
              $(this).attr('src', 'https://cdn.shopify.com/s/files/1/0627/3476/2207/files/search-icon.svg?v=1652783584');
              $(this).addClass('search');
              $(this).removeClass('close');
            }
          }
        });
      } 
      searchLayer();

      $(document).on('click', function (e) {
        if ($(window).width() >= 1024) {
          if (
            !(
              $(e.target).closest('.search-form').length > 0 ||
              $(e.target).closest('.search__results-wrapper').length > 0 ||
              $(e.target).closest('.search-click').length > 0
            )
          ) {
            $('.search-form').removeClass('active');
            $('.search-click').show();
          }
        } else if ($(window).width() < 1024) {
          if (
            !(
              $(e.target).closest('.search-mob-div').length > 0 ||
              $(e.target).closest('.search__results-wrapper').length > 0 ||
              $(e.target).closest('.search-click').length > 0 ||
              $(e.target).closest('button.toggle-button').length > 0   
            )
          ) {
            $('.search-mob-div').slideUp();
            $('.search-click').attr('src', 'https://cdn.shopify.com/s/files/1/0627/3476/2207/files/search-icon.svg?v=1652783584');
            $('.search-click').addClass('search');
            $('.search-click').removeClass('close');
          }
        }
      });

      $( window ).resize(function() {
        if ($(window).width() >= 1024) {
          $('.search-form').removeClass('active');
          $('.search-click').show();
        } else if ($(window).width() < 1024) {
          $('.search-mob-div').slideUp();
          $('.search-click').attr('src', 'https://cdn.shopify.com/s/files/1/0627/3476/2207/files/search-icon.svg?v=1652783584');
          $('.search-click').addClass('search');
          $('.search-click').removeClass('close');
        }
      });
      var shopURL = $('body').data('shop-url');
      var currentAjaxRequest = null;
            var searchPath = shopURL + '/search?q=';
      var searchForms = $('form.search_form, form.search-form, form.search, form.header_search_form').each(function() {
        var input = $(this).find('input[name="q"]');

        // Adding a list for showing search results.
        $('<div class="search__results-wrapper"><ul class="search__results"></ul></div>').appendTo($(this));
        // Listening to keyup and change on the text field within these search forms.
        input.attr('autocomplete', 'off').bind('keyup change', function() {
          if(input.val() == '') {
            $('.search__results').hide();
            $('.search__results').empty();
          }

          var term = $(this).val();
          var cleanTerm = encodeURI(term);

          var form = $(this).closest('form');
          var searchURL =  searchPath + cleanTerm;
          var resultsList = form.find('.search__results');

          if (term.length >= 3) {

            if (currentAjaxRequest != null) currentAjaxRequest.abort();
            currentAjaxRequest = $.getJSON(searchURL +'*&view=json', function(data) {
              resultsList.empty();
              // If we have no results.
              if(data.results_count == 0) {
                resultsList.hide();
                // resultsList.append('<p>No items found </p>');
              } else {
                // If we have results.
                $.each(data.results, function(index, item) {
                  if(index >= 5) {
                    return false;
                  }

                  var link = $('<a></a>').attr('href', item.url);

                  //Collect collection handles if product
                  if(item.object_type == 'product') {

                    var collectionHandles = [];
                    for(i=0; i < item.collections.length; i++) {
                      collectionHandles.push(item.collections[i].handle);
                    }

                    if($.inArray('coming-soon', collectionHandles) != -1) {
                      var itemPrice = Shopify.translation.coming_soon_text;
                    } else {
                      if(item.available == true) {

                        if(item.raw_compare > item.raw_price ) {
                          var itemPrice = '<span class="was_price">' + item.compare + '</span> ' + item.price;
                        } else {
                          if(item.price_varies && item.price_min > 0) {
                            var itemPrice = 'from' + ' ' + item.price;
                          } else if(item.price > 0 || item.raw_price > 0) {
                            var itemPrice = item.price;
                          } else {
                            var itemPrice = Shopify.theme_settings.free_text;
                          }
                        }
                      } else {
                        var itemPrice = Shopify.theme_settings.display_sold_out_price ? item.price + ' ' + '<span class="sold-out-text">' + Shopify.theme_settings.sold_out_text + '</span>' : '<span class="sold-out-text">' + Shopify.theme_settings.sold_out_text + '</span>';
                      }
                    }

                    if(item.thumbnail != 'NULL') {
                      link.append('<div class="thumbnail mb-0"><img class="lazyload {{ settings.image_loading_style }}" src="' + item.thumbnail + '" /></div>');
                    }
                    link.append('<p class="title mb-0">' + item.title + '<br><p class="item-pricing hidden">'+ itemPrice +'</p></p>');


                  } else if(item.object_type == 'article') {
                    if(item.thumbnail != 'NULL') {
                      link.append('<div class="thumbnail"><img class="lazyload {{ settings.image_loading_style }}" src="' + item.thumbnail + '" /></div>');
                    }
                    link.append('<div class="title">' + item.title + '<br><span class="item-pricing">'+ item.text_content +'</span></div>');

                  } else if(item.object_type == 'page') {
                    link.append('<div class="title">' + item.title + '<br><span class="item-pricing">'+ item.text_content +'</span></div>');
                  }

                  var border_padding = '';
                  if(index > 0) {
                    border_padding = 'border-t py-4';
                  } else {
                    border_padding = 'pb-4';
                  }
                  link.wrap('<li class="item-result result-- ' + border_padding + ' ' + item.object_type + '"></li>');
                  resultsList.append(link.parent());
                });
                // The Ajax request will return at the most 5 results.
                // If there are more than 5, let's link to the search results page.
                if(data.results_count >= 5) {
                  resultsList.append('<li class="all-results border-t py-4"><span class="title see-all"><a href="' + searchURL + '*">' + 'View all results' + ' (' + data.results_count + ')</a></span></li>');
                }
                resultsList.fadeIn(200);
              }
            })
          }
        });
      });
      // Clicking outside makes the results disappear.
      $(document).on('click', function(e){
        var container = $('[data-autocomplete-true]');
        if (!container.is(e.target) && container.has(e.target).length === 0) {
          $('[data-autocomplete-true]').find('.search__results-wrapper').hide();
        }
      });

      $('[data-autocomplete-true] input').on('keyup', function(){
        if ($(this).val() != '') {
          $('.search__results-wrapper').hide();
          $(this).parents('[data-autocomplete-true]').find('.search__results-wrapper').show();
        }
      });

    });

  </script>

  <!-- Responsive Images -->
  {{ 'ls.rias.min.js' | asset_url | script_tag }}
  {{ 'ls.bgset.min.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  <script>
      document.documentElement.className =
         document.documentElement.className.replace("no-js","js");
    jQuery( document ).ready(function() {
  jQuery('.rte-accordion.row .item-heading').hide();
});


  </script>

  <!-- JS Variable Helpers -->
<script>
    var template = {{ template | json }};
</script>

  <!-- Fancybox JS -->
 {{ 'jquery.fancybox.js' | asset_url | script_tag }}

  <!-- AccessiBE -->
  <script>
    if(sessionStorage.getItem("accessiBe") === "on"){
      (function(){ var s = document.createElement('script'), e = ! document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, language : 'en', position : 'right', leadColor : '#146FF8', triggerColor : '#146FF8', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'people', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 10, triggerOffsetY : 10, triggerRadius : '50%' } }); }; e.appendChild(s);}());
    }
  </script>
</body>
</html>

{% include 'globo.menu.script' %}