<section>
    <div id="react-plp-section">
      <script type="application/json">
        {
          "products": [
            {% paginate collection.products by 500 %}
              {% for product in collection.products %}
                {{ product | json }}{% if forloop.last != true %},{% endif %}
              {% endfor %}
            {% endpaginate %}
          ],
          "settings": {{ section.settings | json }},
          "collectionProducts": {{ collection.products | json }},
          "collectionTitle":
            {% if collection.title == "Products" %}
              {{section.settings.shop_all_heading | json }}
            {% else %}
              {{ collection.title | json }}
            {% endif %},
          "collectionDescription":
            {% if collection.title == "Products" %}
              {{section.settings.shop_all_content | json }}
            {% else %}
              {{ collection.description | split: '[#' | first | json }}
            {% endif %}
        }
      </script>
    </div>
</section>

{% schema %}
{
  "name": "Default Collection Page",
  "settings": [
    {
      "type": "range",
      "id": "products_per_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Products per row",
      "default": 3
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 2,
      "max": 50,
      "step": 1,
      "label": "Products per page",
      "default": 16
    },
    {
      "type": "text",
      "id": "shop_all_heading",
      "label": "Shop All Heading"
    },
    {
      "type": "textarea",
      "id": "shop_all_content",
      "label": "Shop All Description"
    }
  ]
}
{% endschema %}
