<div class="index-section" data-section-id="{{ section.id }}" data-section-type="featured-collection" data-aos="{{ settings.scroll_animation }}">
  <div id="react-product-recommendation">
    <script type="application/json">
      {
        "settings": {{ section.settings | json }},        
        "blocks": [
          {% for block in section.blocks %}
              {
                  "settings": {{ block.settings.product | json }},
                  "type": {{ block.type | json }},
                  "shopify_attributes": {{ block.shopify_attributes | json }}
              }
              {% if forloop.last != true %},{% endif %}
          {% endfor %}
        ]
      }
    </script>
  </div>
</div>
<div class="clear"></div>


{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Collection"
    }
  ],
  "blocks": [
    {
      "name": "Product",
      "type": "section",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Grid",
      "category": "Collection"
    }
  ]
}
{% endschema %}
