{%- assign hd_locale_selector = false -%}
{%- assign hd_currency_selector = false -%}
{% assign cart_count = cart.item_count | plus:0 %}


{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign hd_currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign hd_locale_selector = true -%}
{%- endif -%}

<div id="react-header">
  <script type="application/json">
    {
      "themeSettings": {{ settings | json }},
      "id": {{ section.id | json }},
      "cartCount": {{ cart.item_count | json }},
      "settings": {{ section.settings | json }}
    }
  </script>
</div>


<style>
/* Nav Header Over Content */
  #mini-cart-container-mobile {
    position: relative;
  }

   #mini-cart-container {
    position: relative;
  }

  .cart-count {
    z-index: 2;
  }

{% if section.settings.absolute_header == true %}
  @media screen and ( min-width: 980px ) {
    body.index .header-section {
      position: absolute;
      width: 100%;
      z-index: 8;
    }
    body.index header.wrapper-is-absolute,
    body.index header.wrapper-is-absolute .disclosure__toggle {
      background-color: transparent;
      color: {{ section.settings.homepage_nav_color }};
    }
    body.index header.wrapper-is-absolute #header-search input#q,
    body.index header.wrapper-is-absolute a,
    body.index header.wrapper-is-absolute select#currencies,
    body.index .header-wrapper.absolute ul.nav li a.d-link,
    body.index .header-wrapper.absolute ul.nav li.dropdown a.dlink:before {
      color: {{ section.settings.homepage_nav_color }} !important;
    }
    body.index header.wrapper-is-absolute #header-search input#q::-webkit-input-placeholder {
      color: {{ section.settings.homepage_nav_color }};
    }

    body.index header.wrapper-is-absolute #header-search input#q::-moz-placeholder {
     color: {{ section.settings.homepage_nav_color }};
    }

    body.index header.wrapper-is-absolute #header-search input#q:-moz-placeholder {   /* Older versions of Firefox */
      color: {{ section.settings.homepage_nav_color }};
    }

    body.index header.wrapper-is-absolute #header-search input#q:-ms-input-placeholder {
      color: {{ section.settings.homepage_nav_color }};
    }
  }
  @media screen and ( min-width: 741px ) {
    body.index .header-wrapper.absolute.stuckMenu ul.nav li.dropdown > a,
    body.index .header-wrapper.absolute.stuckMenu ul.nav li.no-dropdown > a,
    body.index .header-wrapper.absolute.stuckMenu #logo a,
    body.index .header-wrapper.absolute.stuckMenu ul.nav li.dropdown > a.dlink:after {
     color: {{ section.settings.homepage_nav_color }};
    }

    body.index .header-wrapper.absolute.stuckMenu,
    body.index .header-wrapper.absolute.stuckMenu #navigation,
    body.index .header-wrapper.absolute.stuckMenu ul.nav {
      background-color: transparent;
    }

    body.index .header-wrapper.absolute.stuckMenu.isStuck ul.nav li.dropdown > a,
    body.index .header-wrapper.absolute.stuckMenu.isStuck ul.nav li.no-dropdown > a,
    body.index .header-wrapper.absolute.stuckMenu.isStuck #logo a,
    body.index .header-wrapper.absolute.stuckMenu.isStuck ul.nav li.dropdown > a.dlink:after {
      color: {{ settings.nav_color }} !important;
    }

    body.index .header-wrapper.absolute.stuckMenu.isStuck {
      background-color: {{ settings.header_wrapper_background }};
    }
  }
{% else %}
  .header-wrapper {
    background: {{ settings.header_wrapper_background }};
    height: 70px;
    border-bottom: 1px solid #D5D5D5;
    padding: 0 35px;
  }
  .header-wrapper ul.nav {
    background: {{ settings.header_wrapper_background }};
  }
{% endif %}

/* Nav Text Logo */
{% if section.settings.logo != blank %}
  #logo {
    line-height: 0;
  }
  #logo img {
    max-width: {{ section.settings.logo_max_width }}px;
  }
{% endif %}

#logo a {
  font-size: {% if section.settings.logo != blank %}inherit{% else %}{{ section.settings.logo_size }}px{% endif %};
  font-weight: {{ settings.heading_weight }};
  line-height: {% if section.settings.logo != blank %}inherit{% else %}calc({{ section.settings.logo_size }}px * 1.25){% endif %}
}
#mobile-logo {
  {% unless section.settings.logo %}line-height: 17px; {% endunless %}
}

/* Nav Search */

{% assign line_height =  40 %}
header, .header-section .disclosure__toggle {
  line-height: {{ line_height }}px;
  font-size: {{ section.settings.announcement_text_size }}px;
}
header #header-search input#q::-webkit-input-placeholder {
  line-height: {{ line_height }}px;
}
header #header-search input#q::-moz-placeholder {
  line-height: {{ line_height }}px;
}
header #header-search input#q:-moz-placeholder {
  line-height: {{ line_height }}px;
}
header #header-search input#q:-ms-input-placeholder {
  line-height: {{ line_height }}px;
}

.searchbox form #q {
  font-size: {{ section.settings.header_size }}px;
  font-family: {{ section.settings.header_font }};


}

.header-topbar,
.header-topbar a,
.header-topbar p {
  font-size: {{ section.settings.announcement_text_size }}px;
  margin-bottom: 0;
  font-family: stolzl, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.header-topbar p {
  font-size: 16px;
}

.cart-name, header #header-search input#q {
  font-size: {{ section.settings.announcement_text_size }}px;
}

{%- case section.settings.nav_height -%}
  {%- when 40 -%}
    {% assign nav-height = 0 %}
  {%- when 42 -%}
    {% assign nav-height = 1 %}
  {%- when 44 -%}
    {% assign nav-height = 2 %}
  {%- when 46 -%}
    {% assign nav-height = 3 %}
  {%- when 48 -%}
    {% assign nav-height = 4 %}
  {%- when 48 -%}
    {% assign nav-height = 5 %}
  {%- when 50 -%}
    {% assign nav-height = 6 %}
  {%- when 52 -%}
    {% assign nav-height = 7 %}
  {%- when 54 -%}
    {% assign nav-height = 8 %}
  {%- when 56 -%}
    {% assign nav-height = 9 %}
  {%- when 58 -%}
    {% assign nav-height = 10 %}
  {%- when 60 -%}
    {% assign nav-height = 11 %}
  {%- when 62 -%}
    {% assign nav-height = 12 %}
  {%- when 64 -%}
    {% assign nav-height = 13 %}
  {%- when 66 -%}
    {% assign nav-height = 14 %}
  {%- when 68 -%}
    {% assign nav-height = 15 %}
  {%- when 70 -%}
    {% assign nav-height = 16 %}
{%- endcase -%}

.header-wrapper ul.nav li .first-level {
  padding-right: 15px;
  padding-left: 15px;
}

/* Logo Settings */
{% if nav_layout contains 'inline' %}

{% elsif nav_layout contains 'above' %}

{% endif %}

/* Nav Hover Effects */
{% if section.settings.nav_hover_effect == 'bottom-border' %}
  .header-wrapper ul.nav li.first-level:hover a.first-level:after {
    content: "";
    background-color: #ad6433;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
{% elsif section.settings.nav_hover_effect == 'underline-box' %}
  .header-wrapper ul.nav li.first-level a.first-level {
    position: relative;
  }
  .header-wrapper ul.nav li.first-level a.first-level:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: {{ settings.nav_hover_link_color }};
    height: 2px;
  }
  .header-wrapper ul.nav li.first-level:hover a.first-level:after {
    width: 100%;
  }

  .header-wrapper ul.nav li.first-level a.first-level {
    transition: all .24s;
  }

  .header-wrapper ul.nav li.first-level a.first-level:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  .header-wrapper ul.nav li.first-level:hover a.first-level {
    color: {{ settings.nav_hover_link_color }};
    z-index: 1;
  }
  .header-wrapper ul.nav li.first-level:hover a.first-level:after {
    z-index: -10;
    animation: fill .65s forwards;
    -webkit-animation: fill .65s forwards;
    -moz-animation: fill .65s forwards;
    opacity: 1;
  }

  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 2px;
    }
    50% {
      width: 100%;
      height: 2px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: {{ settings.nav_hover_accent_color }};
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .header-wrapper ul.nav li.first-level:hover a.first-level:after {
      content: "";
      background-color: {{ settings.nav_hover_accent_color }};
      height: 3px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .header-wrapper ul.nav li.first-level:hover a.first-level {
      color: {{ settings.nav_hover_accent_color }};
    }
  }
{% elsif section.settings.nav_hover_effect == 'shift-box' %}
  .header-wrapper ul.nav li.first-level a.first-level,
  .header-wrapper ul.nav li.first-level a.first-level:after,
  .header-wrapper ul.nav li.first-level a.first-level:before {
    transition: all .5s;
  }

  .header-wrapper ul.nav li.first-level a.first-level {
    position:relative;
    z-index: 1;
  }
  .header-wrapper ul.nav li.first-level:hover a.first-level {
    color: {{ settings.nav_hover_link_color }};
  }
  .header-wrapper ul.nav li.first-level a.first-level:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: {{ settings.nav_hover_accent_color }};
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  .header-wrapper ul.nav li:hover a.first-level:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .header-wrapper ul.nav li.first-level:hover a.first-level:after {
      content: "";
      background-color: {{ settings.nav_hover_accent_color }};
      height: 3px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .header-wrapper ul.nav li.first-level:hover a.first-level {
      color: {{ settings.nav_hover_accent_color }};
    }
  }
{% endif %}

/* Nav Borders */
{% if section.settings.nav_top_border %}
  .header-wrapper nav:before {
    content:"";
    border-top: 1px solid {{ section.settings.nav_border_color }};
    position: absolute;
    top: 0;
    left: 1%;
    width: 98%;
  }
{% endif %}
{% if section.settings.nav_bottom_border %}
  .header-wrapper nav:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 1%;
    width: 98%;
  }
{% endif %}

{% if customer %}
li.customer-account:after {
  font-family: Font Awesome;
  content: "\f107";
  position: relative;
  top: 1px;
  right: -2px;
}
{% endif %}


{% comment %} Navigation inline, logo center {% endcomment %}
.header-wrapper nav.inline_center {
  display: grid;
  column-gap: 15px;
  grid-template-columns: 4fr 2fr 4fr;
  grid-gap: 10px 15px;
  place-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

{% comment %} Navigation inline, logo left {% endcomment %}
.header-wrapper nav.inline_left,
.header-wrapper nav.inline_left_right {
  display: flex;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-items: stretch;
}

{% comment %} Left logo, centered nav {% endcomment %}
.header-wrapper nav.inline_left ul.nav {
  text-align: center;
  display: flex;
  height: 100%;
  align-items: flex-end;
  flex-grow: 1;
  justify-content: center;
  margin-left: 150px;
}
#Shop {
  padding-left: 40px;
}
{% comment %} Left logo, right nav {% endcomment %}
.header-wrapper nav.inline_left_right ul.nav {
  text-align: right;
}
{% comment %} Logo above Navigation {% endcomment %}
.row.nav-container {
  display: grid;
  grid-template-columns: 100%;
  {% if nav_layout == 'above_left' %}
  place-items: start;
  {% elsif nav_layout == 'above_center' %}
  place-items: center;
  {% endif %}
}
#logo.above_left,
#logo.above_center {
  padding: 10px 15px 0px;
}
.row.nav-container nav {
  padding-bottom: 0;
}
{% comment %} Navigation above center {% endcomment %}
nav.above_center ul.nav {
  text-align: center;
}
</style>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Announcement Bar"
    },
    {
      "type": "richtext",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "<p>Share a shop announcement or message</p>"
    },
    {
      "type": "range",
      "id": "announcement_text_size",
      "min": 12,
      "max": 19,
      "step": 1,
      "unit": "px",
      "label": "Announcement text size",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "icons_only",
      "label": "Icon only for cart & account"
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
     "type": "checkbox",
     "id": "show_locale_selector",
     "label": "Show language selector",
     "default": false
    },
    {
      "type": "header",
      "content": "Currency Selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
     "type": "checkbox",
     "id": "show_currency_selector",
     "label": "Show currency selector",
     "default": false
    },
    {
      "type": "header",
      "content": "Header Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable full width"
    },
    {
      "type": "checkbox",
      "id": "nav_top_border",
      "label": "Enable top border"
    },
    {
      "type": "checkbox",
      "id": "nav_bottom_border",
      "label": "Enable bottom border"
    },
    {
      "type": "color",
      "id": "nav_border_color",
      "label": "Border color",
      "default": "#f0f0f0"
    },
    {
      "type": "header",
      "content": "Header positioning"
    },
    {
      "type": "paragraph",
      "content": "By default the header will sit above your content. Use the following settings to override that display on the home page"
    },
    {
      "type": "checkbox",
      "id": "absolute_header",
      "label": "Overlay header on first section"
    },
    {
      "type": "color",
      "id": "homepage_nav_color",
      "label": "Text color over content",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Logo Settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 250,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 200
    },
    {
      "type": "range",
      "id": "logo_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Text size",
      "default": 26
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Header layout",
      "options": [
        {
          "value": "inline_left",
          "label": "Logo inline left, navigation centered"
        },
        {
          "value": "inline_left_right",
          "label": "Logo inline left, navigation right aligned"
        },
        {
          "value": "inline_center",
          "label": "Logo inline centered"
        },
        {
          "value": "above_left",
          "label": "Logo above navigation, left aligned"
        },
        {
          "value": "above_center",
          "label": "Logo above navigation, center aligned"
        }
      ]
    },
    {
      "type": "header",
      "content": "Desktop Navigation"
    },
    {
      "type": "link_list",
      "id": "main_nav",
      "label": "Choose main menu",
      "default":"main-menu"
    },
    {
      "type": "range",
      "id": "nav_height",
      "min": 40,
      "max": 70,
      "step": 2,
      "unit": "px",
      "label": "Height",
      "default": 50
    },
    {
      "type": "select",
      "id": "nav_hover_effect",
      "label": "Hover effect",
      "options": [
        {
          "value": "hover-color",
          "label": "Hover Color Only"
        },
        {
          "value": "bottom-border",
          "label": "Bottom Border"
        },
        {
          "value": "underline-box",
          "label": "Underline Box"
        },
        {
          "value": "shift-box",
          "label": "Shift Box"
        }
      ]
    },
    {
      "type": "range",
      "id": "nav_split",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Split navigation",
      "default": 3,
      "info":"Split your navigation to each side of the logo - for use only if the logo position is set to inline and logo alignment is centered."
    }
  ]
}
{% endschema %}
