{% assign current_variant = product.selected_or_first_available_variant %}

<div id="product-{{ product.id }}"
  class="product-page product-template prod-{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product-section">

  <div id="react-product-section">
    <script type="application/json">
      {
        "settings": {{ section.settings | json }},
        "product": {{ product | json }},
        "themeSettings": {{settings | json}},
        "currentVariant": {{ current_variant | json }},
        "assetURL": "{{ '' | file_url }}",
        "blocks": [
          {% for block in section.blocks %}
            {
              "settings": {{ block.settings | json }},
              "type": {{ block.type | json }},
              "shopify_attributes": {{ block.shopify_attributes | json }}
            }{% if forloop.last != true %},{% endif %}
          {% endfor %}
        ],
        "metafields": {
          "productHandleName": "{{ product.metafields.my_fields.product_handle_name }}",
          "productTitle": "{{ product.metafields.my_fields.product_title }}",
          "legOptions": {% if product.metafields.my_fields.leg_options == null %} "" {% else %}{{ product.metafields.my_fields.leg_options }}{% endif %},
          "colorOptions": {% if product.metafields.my_fields.color_options == null %} "" {% else %}{{ product.metafields.my_fields.color_options }}{% endif %},
          "styleOptions": {% if product.metafields.my_fields.style_options == null %} "" {% else %}{{ product.metafields.my_fields.style_options }}{% endif %},
          "amountOptions": {% if product.metafields.my_fields.amount_options == null %} "" {% else %}{{ product.metafields.my_fields.amount_options }}{% endif %},
          "defaultOptions": {% if product.metafields.my_fields.default_options == null %} "" {% else %}{{ product.metafields.my_fields.default_options }}{% endif %},
          "yotpoProductId": "{{ product.metafields.my_fields.yotpo_product_id }}"
        }
      }
    </script>
  </div>
</div>

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "header",
      "content": "Product Reviews"
    },
    {
      "type": "paragraph",
      "content": "For reviews to work you must first install the free [Product Reviews](https:\/\/apps.shopify.com\/product-reviews) App by Shopify."
    },
    {
      "type": "checkbox",
      "id": "enable_product_reviews",
      "label": "Enable product reviews",
      "default": false
    },
    {
      "type": "text",
      "id": "reviews_heading",
      "label": "Heading",
      "default": "Customer Reviews"
    },
    {
      "type": "paragraph",
      "content": "Add tabbed content blocks"
    },
    {
      "type": "header",
      "content": "Shipping Info"
    },
    {
      "type": "textarea",
      "id": "shipping_message",
      "label": "Shipping Message"
    },
    {
      "type": "textarea",
      "id": "shipping_time",
      "label": "Shipping Time"
    },
    {
      "type": "textarea",
      "id": "shipping_message_info",
      "label": "Shipping Message Info(?)"
    },
    {
      "type": "number",
      "id": "shipping_message_info_height",
      "label": "Shipping Message Info Height",
      "default": 80
    }
  ],
  "blocks":[
    {
      "type":"page",
      "name":"Content from Page",
      "settings":[
        {
        "type": "page",
        "id": "page",
        "label": "Show content from"
        }
      ]
    },
    {
      "type":"text",
      "name":"Tab Content",
      "settings":[
        {
          "type": "text",
          "id": "tab_heading",
          "label": "Tab Heading",
          "default": "Tab Heading"
        },
	      {
          "type": "richtext",
          "id": "tab_content",
          "label": "Tab Content",
          "default": "<p>Enter the content to use inside the tab selected.</p>"
        }
    	]
    },
    {
      "type": "product_details",
      "name": "Product Details",
      "settings": [
        {
          "type":"header",
          "content":"How it Works Tab"
        },
        {
          "type": "text",
          "id": "howitwork_tab_heading",
          "label": "Tab Heading"
        },
        {
          "type": "text",
          "id": "about_desktop_heading",
          "label": "Section Heading"
        },
        {
          "type": "textarea",
          "id": "about_paragraph",
          "label": "Content"
        },
        {
          "type": "select",
          "id": "about_media_type",
          "label": "Media Type",
          "info": "Select Video or Image",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "video",
              "label": "Video"
            }
          ],
          "default": "video"
        },
        {
          "type": "image_picker",
          "id": "about_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "about_video_url",
          "label": "Video Url"
        },
        {
          "type": "header",
          "content": "Why You’ll Love It"
        },
        {
          "type": "text",
          "id": "whylove_tab_heading",
          "label": "Tab Heading"
        },
        {
          "type": "text",
          "id": "features_section_1_title",
          "label": "Section Heading"
        },
        {
          "type": "textarea",
          "id": "features_section_1_paragraph",
          "label": "Content"
        },
        {
          "type": "select",
          "id": "features_section_1_media_type",
          "label": "Features Section 1 Media Type",
          "info": "Select Video or Image",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "video",
              "label": "Video"
            }
          ],
          "default": "video"
        },
        {
          "type": "image_picker",
          "id": "features_section_1_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "features_section_1_video_url",
          "label": "Video Url"
        },
        {
          "type": "header",
          "content": "Specifications"
        },
        {
          "type": "text",
          "id": "specifications_tab_heading",
          "label": "Tab Heading"
        },
        {
          "type": "text",
          "id": "dimensions_heading",
          "label": "DIMensions Heading"
        },
        {
          "type": "text",
          "id": "frame_size",
          "label": "Frame Size"
        },
        {
          "type": "text",
          "id": "image_size",
          "label": "Image Size"
        },
        {
          "type": "text",
          "id": "total_weight",
          "label": "Total Weight"
        },
        {
          "type": "text",
          "id": "moulding_width",
          "label": "Moulding Width"
        },
        {
         "type": "text",
         "id": "details_heading",
         "label": "Details Heading"
        },
        {
          "type": "text",
          "id": "frame_description",
          "label": "Frame Description"
        },
        {
          "type": "text",
          "id": "paper_description",
          "label": "Paper Description"
        },
        {
          "type": "text",
          "id": "print_description",
          "label": "Print Description"
        },
        {
          "type": "text",
          "id": "mat_description",
          "label": "Mat Description"
        },
        {
          "type": "text",
          "id": "plexiglass_glazing",
          "label": "Plexiglass Glazing"
        },
        {
          "type": "header",
          "content": "SHIPPING AND RETURNS"
        },
        {
         "type": "text",
         "id": "sprt_tab_heading",
         "label": "Tab Heading"
        },
        {
          "type": "text",
          "id": "sprt_1_title",
          "label": "Section 1 Heading"
        },
        {
          "type": "html",
          "id": "sprt_1_paragraph",
          "label": "Section 1 Content"
        },
        {
          "type": "text",
          "id": "sprt_1_linkText",
          "label": "Section 1 Link Text"
        },
        {
          "type": "text",
          "id": "sprt_1_linkUrl",
          "label": "Section 1 Link Url"
        },

        {
          "type": "text",
          "id": "sprt_2_title",
          "label": "Section 2 Heading"
        },
        {
          "type": "html",
          "id": "sprt_2_paragraph",
          "label": "Section 2 Content"
        },
        {
          "type": "text",
          "id": "sprt_2_linkText",
          "label": "Section 2 Link Text"
        },
        {
          "type": "text",
          "id": "sprt_2_linkUrl",
          "label": "Section 2 Link Url"
        }
    	]
    },

    {
      "type": "delivery_info_section",
      "name": "Delivery Info Section",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "section_1_title",
          "label": "Section 1 Title"
        },
        {
          "type": "html",
          "id": "section_1_paragraph",
          "label": "Section 1 Paragraph"
        },
        {
          "type": "text",
          "id": "section_1_linkText",
          "label": "Section 1 Link Text"
        },
        {
          "type": "text",
          "id": "section_1_linkUrl",
          "label": "Section 1 Link Url"
        },

        {
          "type": "text",
          "id": "section_2_title",
          "label": "Section 2 Title"
        },
        {
          "type": "html",
          "id": "section_2_paragraph",
          "label": "Section 2 Paragraph"
        },
        {
          "type": "text",
          "id": "section_2_linkText",
          "label": "Section 2 Link Text"
        },
        {
          "type": "text",
          "id": "section_2_linkUrl",
          "label": "Section 2 Link Url"
        }
    	]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
